@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1></h1>
    <p class="lead">Some of great movies don't get the attention they deserve. Our community shares the lesser-known film gems with each other.</p>
    <p><a href="/movies/all" class="btn btn-primary btn-lg">See The List</a></p>
    @using (Html.BeginForm("Index", "Movies", FormMethod.Get))
    {
        @Html.TextBox("queryString", null, new { placeholder = "Search By Title, Director, or Year", @class = "input-lg" })
        <button type="submit" class="btn btn-default">Search</button>
    }
</div>