@import url('https://fonts.googleapis.com/css?family=Federo|Rosario');
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

#queryString {
    width: 100%;
}

form > button.btn.btn-default {
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.breakword {
    max-width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

th {
    cursor: pointer;
}

th:hover {
    color: #406892;
}

h2 {
    font-size: 25px;
}

h4 {
    display: inline-block;
    opacity: 0;
    font-size: 14px;
    color: #436c97;
}

.navbar-brand {
    font-size: 2em;
    font-family: Federo;
}

.tagline {
    text-align: center;
    font-size: 7vw;
    font-family: Federo;
    color: #30649c;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.58);
}

.see-list {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    text-align: center;
}